# Entornos virtuales
venv/
env/

# Archivos de configuración del entorno
*.env

# Archivos de bases de datos locales
*.sqlite3

# Archivos de migraciones
**/migrations/

# Archivos del editor
*.swp
*.swo
.vscode/
.idea/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs de Django
*.log

# Archivos estáticos y de medios generados
staticfiles/
media/

# Dependencias descargadas en el entorno virtual
pip-log.txt
pip-delete-this-directory.txt

# Archivos de Node.js (si usas npm para algo)
node_modules/

# Archivos de coverage (si usas pruebas de cobertura)
htmlcov/
.coverage
